name: LateX CV to PDF

on:
  push:
    branches:
      - main
    tags:
       - '*'
  pull_request:
    branches: [ main ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: cv.tex
      - name: Upload CV in PDF to the workflow tab
        id: upload-workflow-tab
        uses: actions/upload-artifact@v4
        with:
          name: cv
          path: build/cv.pdf
          retention-days: 7
      - name: Release CV
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: build/cv.pdf
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
